body {
    transition: background-color 0.5s ease;
}

.light-mode {
    background-color: #e0e2e4;
    color: #333; 
}
.dark-mode {
    background-color: #15131b; 
    color: #fff; 
}
.app {
    position: relative;
    width: 100%;
    height: 100vh;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
}
.todo-container{
    position: relative;
    z-index: 1;
    top:10%;
    left:32%;
    width:500px;
} 
.title{
    display:flex;  
    color:#fff;
    letter-spacing: 8px;
}
.toggle {
    position:absolute;
    top:25px;
    right:0px;  
    font-size: 25px;
} 
.typebox{
    width:470px;
    border:none;
    border-radius:3px;
    padding: 15px;
}
.list-container{
    padding: 0;
    border:none;
    border-radius:3px;
    margin-bottom: 0%;
}
.list{
    display: flex;
    padding-left:20px;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #7c7979;
}
.status-button{
    border-radius: 50%;
    width: 20px;
    height:20px;
    border: 1px solid black;
}
.bottom-navbar{
    display:flex;
}
.categories {
    display: flex;
    list-style: none;
    gap: 30px; 
}